@color:#DFB47D;
@colorRGBA:rgba(213,164,87,0.8);

@white:#FFFFFF;
@softwhite:#FAFAFA;
@whitegray:#EBEBEB;
@silver:#CCCCCC;
@gray: #aaaaaa;

@softdark:#888888;
@dark:#282B2D;
@black:#1E1F20;

@darkTrans:rgba(0,0,0,0.4);
@whiteTrans:rgba(255,255,255,0.4);


.white{
	color:@white;
}
.softwhite{
	color:@softwhite;
}
.whitegray{
	color:@whitegray;
}
.dark{
	color:@dark;
}
.black{
	color:@black;
}
.silver{
	color:@silver ;
}
.gray{
	color:@gray ;
}
.color{
	color:@color;
}

.white-bg{
	background:@white;
}
.softwhite-bg{
	background:@softwhite;
}
.whitegray-bg{
	background:@whitegray;
}
.dark-bg{
	background:@dark;
}
.black-bg{
	background:@black;
}
.silver-bg{
	background:@silver;
}
.color-bg{
	background:@color;
}
.dark-trans-bg{
	background:@darkTrans;
}
.white-trans-bg{
	background:@whiteTrans;
}

a{
	color:@black;
}
a:hover{
	color:@color;
}
::selection {
  background: @color;
  color:@white;
}
::-moz-selection {
  background: @color;
  color:@white;
}

p{
	color:@softdark;
}

.pace .pace-progress {
  background: @color;
}
.intro .mouse-icon.dark {
    	border-color:@dark;
}
.intro .mouse-icon.dark .wheel {
    	background-color:@dark;
}
.intro .mouse-icon.dark:hover .wheel {
    	background-color:@dark;
}

.intro .mouse-icon.white {
    	border-color:@white;
}
.intro .mouse-icon.white .wheel {
    	background-color:@white;
}
.intro .mouse-icon.white:hover .wheel {
    	background-color:@white;
}

.intro .mouse-icon.color {
    	border-color:@color;
}
.intro .mouse-icon.color .wheel {
    	background-color:@color;
}
.intro .mouse-icon.color:hover .wheel {
    	background-color:@color;
}

intro-01 .caption-panel h3>span{
	border-color:@black;
}

intro-01 .explore-link a:hover{
	color:@white;
}
.main-heading.white>span{
	border-color:@white;
}
.main-heading.black>span{
	border-color:@color;
}
.main-heading.color>span{
	border-color:@color;
}
.feature-heading>span{
	border-color:@color;
}
.team-stage h3{
  background: @whitegray;
}
.team-stage h6{
  background: @color;
}
.welcome-text-sub{
	border-color:@color;
}
.cbp-l-filters-alignCenter{
	color:@gray !important;
}
.filter-name{
	color:@dark !important;
}
.cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active{
	color:@color !important;
}
.cbp-caption-overlayBottomPush .cbp-caption-activeWrap{
  	background: @color;
}
.cbp-l-caption-desc{
	color:@white;
}
.client-list li{
	border-color: @whitegray;
}

.client-list li:hover{
	border-color: @color;
}
.promo.dark h3{
	border-color: @dark;
}
.promo.color h3{
	border-color: @color;
}
.promo.white h3{
	border-color: @white;
}
#ws .price-specs, #ws .price{
	border-color: @whitegray;
}
.price:hover{
	border-color: @color !important;
}

.news-post-list-wrap:hover{
	border-color: @color;
}
.explore-link a:hover{
	color:@dark;
}

.btn-adria-color{
	border-color: @color;
	color: @color;
}
.btn-adria-color:hover{
	border-color: @color;
  	background-color: @color;
	color: @white;
}
.standard-nav li > a.highlighted{
	border-color: @color;
}
.intro-01 .text-rotator span{
	color: @color;
}
.intro-03 h6 > span{
	border-color: @color;
}
.tp-bannertimer{
	background:@color;
}
.video-caption h3>span{
	border-color: @color;
}